/* colors
light: #F0F3F5
primary: #6B9DB5
secondary: #9CC3D5
dark: #121C21
dark2: #415158
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    color: #121C21;
}

main {
    margin-top: 40px;
    padding-top: 20px;
    min-height: 100vh;
    margin-left: 0;
}

@media (min-width: 992px) {
	main {
        margin-left: 16rem;
    }
}

/* @media (min-width: 768px) { */
	::-webkit-scrollbar {
        width: 0.5em;
    }
    ::-webkit-scrollbar-track {
        background-color: #9CC3D5;
    }
    ::-webkit-scrollbar-thumb {
        background: #6B9DB5;
    }
    ::-moz-selection { /* for Firefox */
        color: #F0F3F5;
        background: #6B9DB5;
    }
    ::selection {
        color: #F0F3F5;
        background: #6B9DB5;
    }
/* } */

#hero-section-text {
    vertical-align: middle;
}

#naslovna-kategorije {
    background-color: #F0F3F5;
}

#naslovna-proizvodi {
    background-color: #F0F3F5;
}

.button {
    background-color: #6B9DB5;
    color: #F0F3F5;
    border-radius: 1.2rem;
    padding: 0.6rem 1.4rem;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: hsl(199, 30%, 48%);
    color: #F0F3F5;
}

.item {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.item:hover {
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.item div {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #9CC3D5;
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.2rem;
}

.item-cijena  {
    font-size: 0.9rem;
    color: #F0F3F5;

}

.item-link {
    color: #F0F3F5;
}

.item-link:hover {
    color: #415158;
}

#newsletter {
    background-color: #9CC3D5;
}

#newsletter input {
    max-width: 500px;
}

footer {
    background-color: #6B9DB5;
    color: #F0F3F5;
}

footer ul {
    list-style-type: none;
    line-height: 1.8rem;
}

footer a {
    color: #F0F3F5;
}

footer a:hover {
    color: #415158;
}

#nav-proizvodi ul {
    padding-bottom: 2rem;
}

#nav-proizvodi ul li {
    display: inline-block;
    padding: 0 1rem;
}

#nav-proizvodi .active {
    text-decoration: underline;
    color: #121C21;
}

#nav-proizvodi ul li a {
    color: #415158;
    text-decoration: none;
}

#nav-proizvodi ul li a:hover {
    text-decoration: underline;
    color: #6B9DB5;
}

.pagination ul li {
    display: inline-block;
    list-style: none;
}

.pagination a {
    color: #121C21;
    background-color: #F0F3F5;
    border-radius: 5px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #9CC3D5;
    color: #F0F3F5;
}

.pagination a:hover:not(.active) {
    background-color: #9CC3D5;
    color: #F0F3F5;
}

#ikonice-kontakt img {
    width: 3rem;
}

#ikonice-kontakt a {
    text-decoration: none;
}
#ikonice-kontakt a:hover {
    filter: invert(70%) sepia(13%) saturate(1017%) hue-rotate(155deg) brightness(83%) contrast(86%);
}

#kontakt-lokacija {
    width: 100%;
    margin: auto;
}