body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 70vw;
    height: 100vh;
    margin: auto;
}

#section1 img {
    width: 100%;
    float: left;
}

#section2 img {
    width: 50%;
    float: left;
}